In [2]:
#String Concatenation-combine two strings you can use + operator


a='Navya'
b='Achar'
c=a+" "+b
print(c)

Navya Achar

**Format of Strings**

F string is preferred for fomating of a string.
to specify a string as an f-string simply put f in front of string literal and add curly braces as placeholder for variables and other operations.

In [3]:
age=30
txt="My name is Rahul, i am "+age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [4]:
age=25
txt=f"My name is Navya, i am {age}"
print(txt)

My name is Navya, i am 25

In [5]:
price=40
buy=f"the price is {price} rupees"
print(buy)

the price is 40 rupees

In [6]:
price=40
buy=f"the price is {price:.2f} rupees"
print(buy)

the price is 40.00 rupees

In [8]:
price=40
buy=f"the price is {price*0.15} rupees"
print(buy)

the price is 6.0 rupees

In [9]:

buy=f"the price is {40+0.18} rupees"
print(buy)

the price is 40.18 rupees

In [10]:
a="{data}"
print(f"the sentence is {a}")

the sentence is {data}

**Operators in Python**
1. Arithematic Operator  + - * / % ** //(ex:10.5=>10)
2. Assignment Operator   = += -= *= /= %= //= **= &= |= ^= >>= <<= :=
3. Comparison Operator   == != > < >= <=
4. Logical Operator      and, or, not
5. Identity Operator     is, is not
6. Membership Operator   in, not in
7. Bitwise Operator      & | ^ ~ << >>

**LISTS**
Lists are used to store multiple items in a single variable.Enclosed with [] Square Brackets.

List items are ordered, changeable, and allows duplicate values.

In [11]:
fruits=['apple','banana','kiwi','apple']
print(fruits)

['apple', 'banana', 'kiwi', 'apple']

In [12]:
print(len(fruits))

4

In [13]:
b=[1,5.6,8,3.0]
c=[True, False, True]
print(b, c)

[1, 5.6, 8, 3.0] [True, False, True]

In [15]:
list=['apple',True,0,'banana',10.11]
print(type(list))
print()
print(list)

<class 'list'>

['apple', True, 0, 'banana', 10.11]

In [17]:
#List constructor- is used to create a new list
a=list(('apple','Navya',10))
print(a)
print(type(a))

In [18]:
#Accessing List Items-Index number

list=['apple','Mango','Banana','Kiwi','Orange']

In [19]:
print(list[2])

Banana

In [21]:
print(list[-4])

Mango

In [22]:
#by giving range of index-slicing
print(list[2:4])

['Banana', 'Kiwi']

In [28]:
if 'pine' not in list:
  print('yes')
else:
  print('No')

yes

In [29]:
#Change list item

list[1]='Strawberry'
print(list)

['apple', 'Strawberry', 'Banana', 'Kiwi', 'Orange']

In [30]:
list[2:3]=['greenapple','Gauva']
print(list)

['apple', 'Strawberry', 'greenapple', 'Gauva', 'Kiwi', 'Orange']

In [31]:
list[2:3]=['grapes']
print(list)

['apple', 'Strawberry', 'grapes', 'Gauva', 'Kiwi', 'Orange']

In [32]:
#insert items to list
list.insert(2,'watermelon')
print(list)

['apple', 'Strawberry', 'watermelon', 'grapes', 'Gauva', 'Kiwi', 'Orange']

In [33]:
#it will add the item at the end of the list
list.append('berry')
print(list)

['apple', 'Strawberry', 'watermelon', 'grapes', 'Gauva', 'Kiwi', 'Orange', 'berry']

In [35]:
#Extend list-to append elements from another list to the current list
run=[1,2]
run1=(1,2,3)
#list.extend(run)
list.extend(run1)
print(list)

['apple', 'Strawberry', 'watermelon', 'grapes', 'Gauva', 'Kiwi', 'Orange', 'berry', 1, 2, 1, 2, 3]

In [36]:
#Remove item from List

list.remove('grapes')
print(list)

['apple', 'Strawberry', 'watermelon', 'Gauva', 'Kiwi', 'Orange', 'berry', 1, 2, 1, 2, 3]

In [37]:
#this will pop out the specific index element
list.pop(2)
print(list)

['apple', 'Strawberry', 'Gauva', 'Kiwi', 'Orange', 'berry', 1, 2, 1, 2, 3]

In [39]:
#it will pop the last element
list.pop()
print(list)

['apple', 'Strawberry', 'Gauva', 'Kiwi', 'Orange', 'berry', 1, 2, 1]

In [40]:
#it clears all the items and gives empty list
list.clear()
print(list)

[]

In [43]:
del list
print(list)

NameError: name 'list' is not defined