In [1]:
#List Comprehensions-offers a short syntax when you want to create a new list based on the values of exisiting lists

#normal form
fruits=['apple','Orange','Mango','kiwi']
newlist=[]
for x in fruits:
  if 'a' in x:
    newlist.append(x)
print(newlist)

['apple', 'Orange', 'Mango']

In [3]:
#LC form
fruits=['apple','Orange','Mango','kiwi','Pine']
new=[x for x in fruits if 'i' in x]
print(new)

['kiwi', 'Pine']

In [4]:
new=[x.upper() for x in fruits]
print(new)

['APPLE', 'ORANGE', 'MANGO', 'KIWI', 'PINE']

# **Sort List**

In [6]:
list=['navya','rahul','kavya']
list.sort()
print(list)

['kavya', 'navya', 'rahul']

In [7]:
num=[18,23,9,2,100,50,12]
num.sort()  #ascending to descending
print(num)

[2, 9, 12, 18, 23, 50, 100]

In [8]:
num.sort(reverse=True)  #desc to asc
print(num)

[100, 50, 23, 18, 12, 9, 2]

# **Copy List**

In [9]:
#copy function
a=['a','b','c','d']
b=a.copy()
print(b)

['a', 'b', 'c', 'd']

In [10]:
#list() method
new=list(a)
print(new)

TypeError: 'list' object is not callable

In [11]:
#using slice operator
c=a[:]
print(c)

['a', 'b', 'c', 'd']

# **List Joins**

In [12]:
#using '+' operator

a=[10,20,30]
b=[40,50,60]

c=a+b
print(c)

[10, 20, 30, 40, 50, 60]

In [13]:
new=['a','b','c']
for x in new:
  b.append(x)
print(b)

[40, 50, 60, 'a', 'b', 'c']

In [14]:
a.extend(new)
print(a)

[10, 20, 30, 'a', 'b', 'c']

# **Tuples - is a collection which is ordered and unchangeable**
# **tuples are writtn with round brackets**

In [22]:
new=('kia','ford','bmw','kia','Audi','Thar','Ertiga','Innova') #ordered, allows duplicates
print(new)
print(type(new))

('kia', 'ford', 'bmw', 'kia', 'Audi', 'Thar', 'Ertiga', 'Innova')
<class 'tuple'>

In [16]:
#difference between string and tuple
a=('hello')
b=('hello',)
print(a)
print(type(a))
print()
print(b)
print(type(b))

hello
<class 'str'>

('hello',)
<class 'tuple'>

In [18]:
print(len(new))

4

In [19]:
#tuple constructor
run=tuple(('a','b',12,'c'))
print(run)
print(type(run))

('a', 'b', 12, 'c')
<class 'tuple'>

In [21]:
#Accessing the tuple

print(new[0])

kia

In [23]:
print(new[2:5])
print(new[:6])
print(new[1:])
print(new[-5:-1])

('bmw', 'kia', 'Audi')
('kia', 'ford', 'bmw', 'kia', 'Audi', 'Thar')
('ford', 'bmw', 'kia', 'Audi', 'Thar', 'Ertiga', 'Innova')
('kia', 'Audi', 'Thar', 'Ertiga')

# **Update Tuple**

In [24]:
x=('appolo','Narayana','Jayadev')
y=list(x)
y[1]='people tree'
x=tuple(y)
print(x)