# **Functions and Lambda Functions**

In [1]:
"""
Functions is a block of code, which only runs when it is called.

function can return data as result.

in python a func is defined by using "def" keyword
"""

'\nFunctions is a block of code, which only runs when it is called.\n\nfunction can return data as result.\n\nin python a func is defined by using "def" keyword\n'

In [2]:
def my_func():
  print("Hello, Happy Morning")
my_func()

Hello, Happy Morning

In [ ]:
#Arguments-information can be passed into functions as arguments.
"""
Arguments are specified after the func name, inside the parantheses.add as many aruments needed seprated by comma
"""

In [3]:
def func(fname):
  print(fname + " is from RV College")
func("Ajay")
func("tanushree")
func("Manoj")

Ajay is from RV College
tanushree is from RV College
Manoj is from RV College

In [ ]:
#Paramters and Arguments
"""
A paramaeter is a variable listed inside the brackets in the func defination.

An Argument is a value that is sent to the func when it is called.
"""

In [9]:
def func(fname,lname):
  print(fname + " "+ lname +  " is from RV College")
  #print(fname+" "+ fname +" " "are from Bengaluru")
func("Ajay","Yadav")
func("Rahul","Puneeth")

Ajay Yadav is from RV College
Rahul Puneeth is from RV College

In [10]:
#Arbitary Arguments- if you do not know how many arguments that will be passed into a function add a * before the parameter name in the func defination

def func(*stud):
  print("The Class Topper is " + stud[2])
  print("The Second Topper is "+stud[4])
func("Rahul","Manoj","Rekha","Kavya","Dhanush","Amit")

The Class Topper is Rekha
The Second Topper is Dhanush

In [11]:
#Default Parameter Value
def myfunc(college="RV"):
  print("I am From "+college)

myfunc("Reva")
myfunc()
myfunc("P.E.S")
myfunc()
myfunc("Acharya")

I am From Reva
I am From RV
I am From P.E.S
I am From RV
I am From Acharya

In [18]:
#passing the list as argument
def myfunc(food):
  for x in food:
    print("We have "+x)
breakfast=["Idly","Poha","Upma","Dosa","chapathi","Poori"]
myfunc(breakfast)
print("what do you like to order?")

We have Idly
We have Poha
We have Upma
We have Dosa
We have chapathi
We have Poori
what do you like to order?

In [19]:
#Return Statment
def my_func(x):
  return 5*x
print(my_func(10))
print(my_func(22))
print(my_func(14))
print(my_func(8))

50
110
70
40

Lambda Functions - is a small anonymous functions

lambda functions can take any number of arguments, but can only have one expression.

**syntax:**

lambda arguments:expression

In [22]:
x=lambda a:a-50
print(x(2))

-48

In [27]:
x=lambda a,b,c,d:(a+b,c+d)
y=lambda a,b,c,d:(a+b*c+d)
print(x(2,3,4,5))
print(y(2,4,4,5))

(5, 9)
23

In [28]:
def func(n):
  return lambda a:a*n

double=func(23)

print(double(11))

253

# **Inputs in Python**

In [29]:
print("enter your name: ")
name=input()
print(f"Hello, {name}")

enter your name:
Navya
Hello, Navya

In [30]:
name=input("Enter the Name: ")
print(f"Hello, {name}")

Enter the Name: Ajay
Hello, Ajay

In [31]:
import math
x=input("Enter the Number: ")
y=math.sqrt(float(x))
print(f"the square root of {x} is {y}")

Enter the Number: 23
the square root of 23 is 4.795831523312719