In [1]:
#update tuple

fruits=('apple','Orange','Mango')
y=list(fruits)
y.append('kiwi')
fruits=tuple(y)
print(fruits)

In [ ]:
fruits=('apple','Orange','Mango')
y=list(fruits)
y.remove('Orange')
fruits=tuple(y)
print(fruits)

In [2]:
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [3]:
#Unpacking

fruits=('apple','banana','cherry','Dragonfruit')
(green,yellow,red,pink)=fruits
print(green)
print(yellow)
print(red)
print(pink)

apple
banana
cherry
Dragonfruit

In [4]:
fruits=('apple','banana','cherry','Dragonfruit')
(green,yellow,*red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'Dragonfruit']

In [8]:
#joining of tuples

a=('a','b')
b=(1,2,3)
c=[10,20,30]
print(a+b) #concate
#print(a+c)
print(a*3) #multiply

('a', 'b', 1, 2, 3)
('a', 'b', 'a', 'b', 'a', 'b')

# **SETS**
sets are used to store multiple items in single variable
or
sets is a collection of items which is **unorderd, unchangeable and unindexed** enclosed with flower brackets

In [11]:
new={'Dio','KTM','R15','Enfield'}
print(new)
print(type(new))

{'Dio', 'Enfield', 'R15', 'KTM'}
<class 'set'>

In [15]:
#duplicates are not allowed

this={'a','b','a','c',0,True,1,False} #false=0, true=1
print(this)

{0, True, 'c', 'b', 'a'}

In [ ]:
#set creation using constructor
new=set(('apple','Banana'))
print(new)

In [16]:
#Accessing of Set
for x in new:
  print(x)

Dio
Enfield
R15
KTM

In [19]:
#using membership operator
print('R15' in new)
print('Ninja' not in new)

True
True

In [20]:
#Add item to Set
new.add('Duke')
print(new)

{'Enfield', 'KTM', 'Dio', 'Duke', 'R15'}

In [21]:
new1={100000,200000}
new.update(new1)
print(new)

{100000, 200000, 'Enfield', 'KTM', 'Dio', 'Duke', 'R15'}

In [22]:
new2=[45,100]
new3=(50,150)
new.update(new2)
new.update(new3)
print(new)

{100000, 200000, 100, 'Enfield', 45, 'KTM', 'Dio', 50, 'Duke', 150, 'R15'}

In [23]:
#Remove set items

new.remove(100)
print(new)

{100000, 200000, 'Enfield', 45, 'KTM', 'Dio', 50, 'Duke', 150, 'R15'}

In [24]:
new.discard(45)
print(new)

{100000, 200000, 'Enfield', 'KTM', 'Dio', 50, 'Duke', 150, 'R15'}

In [26]:

new.pop()
print(new)

{'Enfield', 'KTM', 'Dio', 50, 'Duke', 150, 'R15'}

In [27]:
new.clear()
print(new)

set()

In [29]:
del new
print(new)

NameError: name 'new' is not defined

In [34]:
#Joins- union,intersection,difference,symmetric_difference

s1={'a','b','c'}
s2={1,2,3,'a'}
s3=(10,20,20)
s4=[40,50,55]

In [31]:
#union-method returns a new set with all items from both sets

run=s1.union(s2)
print(run)

{'c', 1, 2, 3, 'b', 'a'}

In [32]:
# | operator instead if union

run=s1 | s2
print(run)

{'c', 1, 2, 3, 'b', 'a'}

In [33]:
#different type of join one is set other is tuple/list then choose the union method not | operator
z=s1.union(s3)
print(z)

{'c', 10, 'a', 20, 'b'}

In [35]:
run1=s1.intersection(s2)
print(run1)

{'a'}

In [36]:
run1=s1 & s2
print(run1)

{'a'}

In [38]:
#difference
new={'apple','banana','cherry'}
new1={'apple','google','windows'}
z=new1.difference(new)
print(z)

{'windows', 'google'}

In [39]:
z=new - new1
print(z)

{'banana', 'cherry'}

In [40]:
#symmetric_difference
a=new1.symmetric_difference(new)
print(a)

{'banana', 'windows', 'google', 'cherry'}

In [41]:
b=new ^ new1
print(b)

{'banana', 'cherry', 'windows', 'google'}